USE [master]
GO
/****** Object:  Database [MedicalStoreDB]    Script Date: 11/29/2015 11:37:23 PM ******/
CREATE DATABASE [MedicalStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MedicalStoreDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MedicalStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MedicalStoreDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalStoreDB]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 11/29/2015 11:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customermaster]    Script Date: 11/29/2015 11:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customermaster](
	[CustomerId] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Info]    Script Date: 11/29/2015 11:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[Id] [nvarchar](50) NULL,
	[PartyName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Age] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Remarks] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Itemmaster]    Script Date: 11/29/2015 11:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itemmaster](
	[SerialNo] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ItemId] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliermaster]    Script Date: 11/29/2015 11:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suppliermaster](
	[SupplierId] [varchar](50) NULL,
	[SupplierName] [nvarchar](max) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usermaster]    Script Date: 11/29/2015 11:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usermaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usermaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [CompanyName]) VALUES (3, N'Beximco')
INSERT [dbo].[Company] ([CompanyId], [CompanyName]) VALUES (5, N'Square')
SET IDENTITY_INSERT [dbo].[Company] OFF
INSERT [dbo].[Customermaster] ([CustomerId], [CustomerName], [Address], [City], [MobileNo], [PhoneNo]) VALUES (N'1', N'Jolil', N'Dhaka', N'Comilla', N'01647852147', N'02-5412783')
INSERT [dbo].[Info] ([Id], [PartyName], [Name], [Gender], [Age], [Address], [ContactNo], [MobileNo], [Email], [Remarks]) VALUES (N'1', N'Stock Party', N'Rezwan Ahmed', N'Male', N'25', N'Dhanmondi,Dhaka', N'02-5412781', N'01676451278', N'rezwan@gmail.com', N'A very good paarty')
INSERT [dbo].[Itemmaster] ([SerialNo], [CompanyName], [ItemId], [Price]) VALUES (N'1', N'', N'sq-01', N'600')
INSERT [dbo].[Itemmaster] ([SerialNo], [CompanyName], [ItemId], [Price]) VALUES (N'2', N'Square', N'sq-03', N'1000')
INSERT [dbo].[Suppliermaster] ([SupplierId], [SupplierName], [Address], [City], [MobileNo], [PhoneNo]) VALUES (N'1', N'Jahid', N'Dhanmondi', N'Comilla', N'01234567874', N'4125741')
SET IDENTITY_INSERT [dbo].[Usermaster] ON 

INSERT [dbo].[Usermaster] ([Id], [Username], [Password]) VALUES (2, N'dcc', N'dcc')
SET IDENTITY_INSERT [dbo].[Usermaster] OFF
USE [master]
GO
