<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Medical_store.Properties.Settings.MedicalConnectionString"
            connectionString="Data Source=HIREN;Initial Catalog=Medical;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>